<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Risepay#index</h1>
	
	<p><%= @result %></p>
   <p><%= @hol %></p>
   <p><%= @formEntire %></p>
	<p><%= @hol2 %></p>

   <p><%= @holita %></p>

</body>
</html>
